<nav class="top-nav">
<ul>

	<li class="list-border"></li>
	<li>
		<a href="../blog_pages/home" class="nav-link">ホーム</a>
	</li>
	<li class="list-border"></li>
	<li>
		<a href="../blog_pages/diary" class="nav-link">日記</a>
	</li>
	<li class="list-border"></li>
	<li>
		<a href="/boards" class="nav-link active">チャット</a>
	</li>
	<li class="list-border"></li>
	<div class="clear"></div>
</ul>
</nav>


<div class="sub-header">
	<div class="content">
		<h1>掲示板(新規）</h1>
	</div>
</div>

<div class="wrapper wrapper__bg">
 	<div class="container">
<%= link_to "一覧へ", boards_path %>
<hr>
<h1>新規編集</h1>
<% if @board.errors.any? %>
	<%= @board.errors.full_messages %>
<% end %>
<%= form_for @board do |f| %>
	タイトル: <%= f.text_field :title %> <br>
	作成者:   <%= f.text_field :editor %> <br>
	<%= f.submit %>
<% end %>

</div>
</div>
